 
:root{
  --primary-blue: #037fc4 ;
  --bright-blue:rgba(3, 0, 196, 0.5);
  --secondary-grey: #323a45;
  --secondary-100: #f6f6f6;
  --seconday-300:#858796 ;
  --whatsapp-green: #00e676;
  --black: #29293a;
  --white:#fff;
}

.text-light{
  color: var(--white);
}

.text-size-1{
  font-size: 1em;
}
.text-size-2{
  font-size: 2em;
  
}
.text-size-3{
  font-size: 3em;
}
/* Spacing */
.m-1{
  margin: 0.5em;
}
.m-2{
  margin: 1em;
}
.m-3{
  margin: 3em;
}
.p-1{
  padding: 0.5em;
}
.p-2{
  padding: 1em;
}
.p-3{
  padding: 3em;
}

.button{
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 8px;
  padding: 8px 20px;
  border: unset;
  font-size: 1em;
  min-width: 8em;
}

.button-secondary{
  background-color:var(--white);
  color:  var(--primary-blue);
  border-radius: 8px;
  padding: 8px 20px;
  border: 1px solid var(--primary-blue);
  font-size: 1em;
  width: 8em;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav{ 
  overflow: hidden;
  background-color:var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;}
.topnav-menu {
  overflow: hidden;
  background-color:var(--white);
}

.topnav-menu a {
  float: left;
  display: block;
  color: var(--primary-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-menu a:hover {
  background-color:var(--primary-blue);
  color: var(--white);
}

.topnav-menu .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav-menu a {display: none;}
  .topnav-menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav-menu.responsive {position: relative;}
  .topnav-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav-menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}